:root{
    text-align: center;
}

h1{
    text-decoration: underline;
    box-shadow: inset;
}

.paragraph {
    font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

